@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.ml12 {
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	position: absolute;
	font-family: "Quicksand", system-ui;
	font-weight: 400;
	color: #3f345f;
	align-self: center;
	align-items: center;
	justify-content: center;
	
	
  }
  
  .ml12 .letter {
	display: inline-block;
	line-height: 0rem;
  }