@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
	margin-top: 3vh;
}

.animation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-self: center;
    align-items: start;
    position: relative;
	height:100% ;
}

.ml12 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-family: "Quicksand", system-ui;
    font-weight: 400;
    color: #3f345f;
    text-align: center; /* Centering text inside the container */
    position: absolute; /* Change from absolute to relative */
	
}

/* Media query to center the text for screens 768px or larger */
@media screen and (max-width: 768px) {
    .animation-wrapper {
		height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
		position: relative;
        align-items: center;
        text-align: center;
		align-self: center;
    }
}
